.custom-card-follow {
	float: right;
	> .btn-primary {
		width: 100%;
		min-width: 150px;
		> .fa {
			margin-left: -15px;
			margin-right: 0px;
		}
		> span {
			display: inline-block;
			margin-left: 5px;
		}
	}
}
.custom-profile-follow {
	display: inline-block;
	> .btn-primary {
		min-width: 100px;
		> .fa {
			margin-left: -15px;
			margin-right: 0px;
		}
		> span {
			display: inline-block;
			margin-left: 5px;
		}
	}
}
